
{% assign item = include.section %}
{% assign children = item.children %}

{% assign base = site.baseurl %}
{% if item.url contains 'http' %}
  {% assign base = '' %}
{% endif %}

{% assign item_url = item.url | prepend: base %}
{% assign compare_url = page.url | prepend: site.baseurl %}
<li class="{% if compare_url == item_url %}active{% endif %} {{ item.class }}" role="menuitem">
  {% if item.url %}
  <a href="{{ item_url }}">{{ item.label }}</a>
  {% else %}
  <span>{{ item.label }}</span>
  {% endif %}
  {% if children %}
  <ul>
    {% for child in children %}
      {% include layout/nav-item.html section=child %}
    {% endfor %}
  </ul>
  {% endif %}
</li>
