<!-- page-header -->
<section class="page-intro">
   
   {% if page.tag == "live-search" %}

   <div class="message-banner">
   
  <b>Live Search beta documentation</b>: Refer to the Live Search <a href="https://devdocs-beta.magento.com/live-search/overview.html">developer documentation</a> for installation instructions, code examples, technical reference, and <a href="https://devdocs-beta.magento.com/live-search/release-notes.html">release notes</a>.
   
</div>
   
   {% endif %}

    {% include layout/edition-callout.html %}

    <h1 class="page-title">{{ page.title }}</h1>

    {% include layout/github-links.html %}

</section>
