<!-- page-header -->
<section class="page-intro">

  {% if page.tag == "google-shopping" %}
    <div class="bs-callout-warning">
      Google Shopping ads Channel was disabled on April 28, 2020. See <a href="https://docs.magento.com/m2/ce/user_guide/sales-channels/google-ads/google-eol.html">End of Life</a> for more information.
    </div>
  {% endif %}
  
  <h1 class="page-title">{{ page.title }}</h1>

  {% include layout/github-links.html %}

  {% include layout/edition-callout.html %}

</section>  
