<!-- page-header -->
<section class="page-intro">
  
  {% if page.url contains "sales-channels/amazon/" %}
  <div class="bs-callout-warning">
    You are viewing documentation for Amazon Sales Channel 2.x / 3.x.</b> <br/>Refer to <a href="{{ site.baseurl }}/sales-channels/asc/amazon-sales-channel.html">Amazon Sales Channel 4.0+</a> for updated documentation.
  </div>
  {% endif %}
  
  <h1 class="page-title">{{ page.title }}</h1>

  {% include layout/github-links.html %}

  {% include layout/edition-callout.html %}

</section>  
