{% assign editions = site.editions %}
<div class="version-switcher spectrum-Dropdown" data-edition="{{ site.edition }}">
	<button id="version-switcher-button" class="spectrum-FieldButton spectrum-Dropdown-trigger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="spectrum-Dropdown-label">{{ site.edition_name }} {{ site.version }}</span>
		<svg class="spectrum-Icon spectrum-UIIcon-ChevronDownMedium spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-ChevronDownMedium" />
    </svg>
  </button>

	<div class="dropdown-menu spectrum-Popover spectrum-Popover--bottom spectrum-Dropdown-popover">
		<ul class="dropdown-menu spectrum-Menu" aria-labelledby="version-switcher-button">
			{% for edition in editions %}
			<li class="spectrum-Menu-item"><a class="dropdown-item spectrum-Menu-itemLabel" href="{{ edition.url }}">{{ edition.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

