{% assign editions = site.editions %}
<div class="version-switcher dropdown" data-edition="{{ site.edition }}">
	<button id="version-switcher-button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ site.edition_name }} {{ site.version }}
    </button>

	<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="version-switcher-button">
		{% for edition in editions %}
		<li><a class="dropdown-item" href="{{ edition.url }}">{{ edition.name }}</a></li>
		{% endfor %}
  </ul> 
</div>
 
