.version-switcher  {
  width: 144px;
}

/* Banner on top of the site header */
.message-banner {
  margin: 0;
  padding: 10px;
}

.version-message-banner {
  text-align: center;
  background-color: #FEE6D5;
  border: solid 1px #f26322;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 10;
  font-size: 13px;
}
